.App {
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "header header header header"
    ". squatInput squatInput ."
    ". quoteDisplay list . "
    "footer footer footer footer";
  min-height: 100vh;
}

header, 
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

header{
  grid-area: header;
  font-family: var(--heading-ff);
  margin-top: 0px;
}

h1 span {
  color: var(--accent);
  display: block;
  font-size: 4.75rem;
  font-weight: var(--fw-bold);
}

h1{
  border-bottom: 2px solid var(--accent);
  font-size: 4.5rem;
}

.squat-input-form {
  grid-area: squatInput;
}
.quote-display {
  grid-area: quoteDisplay;
}
.song-list {
  grid-area: list;
}
footer {
  grid-area: footer;
}

img {
  border-radius: 50%;
  max-width: 10%;
  height: auto;
  flex-grow: 0;
}

.squat-input-form,
.quote-display,
.song-list,
footer {
  background: var(--container-bg);
  padding: .5em 1em;
}

.squat-input-form,
.quote-display,
.song-list {
  align-self: center;
  border-radius: 10px;
  justify-self: center;
}

/*mobile*/
@media (max-width: 500px) {
  .App {
    grid-template-areas:
      "header header header"
      ". squatInput."
      ". quoteDisplay ."
      ". list ."
      "footer footer footer";
  }
}