.App{
  display: grid;
  grid-template-areas: 
    "header header" 
    "squat-input list"
    "quote-display list"
    "footer-form footer-form";
}
h1{
  grid-area: header;
}
.squat-input{
  grid-area: squat-input;
}
.quote-display{
  grid-area: quote-display;
}
.list{
  grid-area: list;
}
.footer-form{
  grid-area: footer-form;
}