.App {
  display: grid;
  grid-template-rows: 0fr 1fr 0fr 0.6fr;
  grid-template-areas:
    "header header header header"
    ". squatInput list ."
    ". quoteDisplay list . "
    "footerForm footerForm footerForm footerForm";
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  background: rgb(74, 144, 226);
  background: radial-gradient(
    circle,
    rgba(74, 144, 226, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

/*mobile*/
@media (max-width: 500px) {
  .App {
    grid-template-areas:
      "header header header"
      ". squatInput."
      ". quoteDisplay ."
      ". list ."
      "footerForm footerForm footerForm";
  }
}

h1 {
  grid-area: header;
  font-weight: 300;
  font-family: "Architects Daughter";
  font-size: 50px;
  margin-top: 0px;
}

h1 span {
  color: #31986a;
  font-weight: 600;
  font-style: normal;
  font-size: 40px;
}

.squat-input-form {
  grid-area: squatInput;
  font-family: "Architects Daughter";
  position: relative;
  font-size: 20px;
  margin-bottom: 80px;
  padding-top: 10px;
}

.squat-input-number {
  grid-area: squatInput;
  font-family: "Architects Daughter";
  font-size: 20px;
  transform: translate(-230px, 10px);
}

.squat-input-btn {
  transform: translate(-230px, 10px);
}

.squat-text {
  transform: translate(150px, -115px);
  position: relative;
}

h2 {
  font-family: "Architects Daughter";
  font-size: 20px;
  font-weight: 400;
}

.quote-display {
  grid-area: quoteDisplay;
  font-family: "Architects Daughter";
  transform: translate(-240px, -100px);
}

.quote-title {
  grid-area: quoteDisplay;
  font-family: "Architects Daughter";
  font-size: 25px;
  text-decoration: underline;
}

.song-list {
  grid-area: list;
  font-family: "Architects Daughter";
  font-size: 12px;
  transform: translate(300px, 190px);
}

.song-video {
  transform: translate(-100px, 10px);
}

.add-song-form {
  grid-area: footerForm;
  font-family: "Architects Daughter";
  font-size: 15px;
}

#SongLengthCode {
  grid-area: footerForm;
  font-family: "Architects Daughter";
  font-size: 15px;
}

#woman {
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 20%;
  width: 10%;
}

#man {
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20%;
  width: 10%;
}

#world {
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 20%;
  width: 10%;
}

#soc {
  border-radius: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 20%;
  width: 10%;
}
