@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Squada+One&display=swap');

/*variables */
:root {
  --accent: #34a4dd;
  --fw-bold: 600;
  --fw-light: 400;
  --fw-normal: 500;
  --heading-ff:'Squada One', cursive;
  --container-bg: #313030c4;
  --main-ff: 'Roboto', sans-serif;
  --main-txt: white;
  --offwhite: #D8E1E9;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: var(--container-bg);
  background-image: url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2168&q=80");
  color: var(--main-txt);
  font-family: var(--main-ff);
  font-size: 1.25rem;
  margin: 0;
}

button,
input,
a {
  color: inherit;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  transition: .25s all;
}

button {
  background-color: var(--accent);
  border-radius: 60px;
  border: none;
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.75);
  color: white;
  outline: none;
  padding: .5em 1em;
}
button:hover,
button:focus {
  box-shadow: none;
  cursor: pointer;
}

input {
  border: 1px solid var(--offwhite);
  border-bottom: 2px solid var(--offwhite);
  border-radius: 5px;
  padding-left: .5em;
}
input:focus{
  border-bottom: 2px solid var(--accent);
  font-style: italic;
  outline: none;
}

a {
  color: var(--offwhite);
  text-decoration: none;
}
a:hover,
a:focus {
  color: var(--accent);
  text-decoration: underline;
}