body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  background-color: #b8b5ff;
  color: white;
  border-radius: 60px;
  padding: 10px 40px;
  border: none;
  outline: none;
  box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.75);
  transition: 0.25s all;
  margin: 10px;
}
button:hover,
button:focus {
  box-shadow: none;
  cursor: pointer;
}

